p {
    color: red;
    text-align: center;
  } 
  
  body {
          background-color: rgb(168, 217, 233);
        }
            p.dotted {border-style: dotted;}
  p.dashed {border-style: dashed; border-color: green;font-family: Verdana, Geneva, Tahoma, sans-serif;}
  p.solid {border-style: solid; border-color: green;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
  p.double {border-style: double;font-size:30px;}
  p.groove {border-style: groove;font-weight: 800;}
  p.ridge {border-style: ridge;border: 5px solid red}
  p.inset {border-style: inset;border: 15px solid rgb(60, 15, 223)}
  p.outset {border-style: outset;}
  p.none {border-style: none;}
  p.hidden {border-style: hidden;}
  p.mix {border-style: dotted dashed solid double;
    border: 2px solid red;}
    
          div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(15, 17, 180);
    padding: 50px;
    margin: 20px;
  }
              h1 {text-shadow: 1px 1px;
  }
   
              .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 15px;
    cursor: pointer;
  } 
  /* ----------------container------ */
  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: right; }
  .item5 { grid-area: footer; }
   
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
   
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }